.watch{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
    white-space: pre-line;
}
.scroll{
    overflow:scroll;
    width: 130px;
    height: 65px;
}
.total1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

}