.todo-back {
  width: 100%;
  height: 60px;
  margin-top: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --v: hidden;
}
.checkWithItem {
  display: flex;
  align-items: center;
}
.removeIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  visibility: var(--v);
}
.round {
  width: 30px;
  height: 30px;
  color: #2b833c;
}
.todo-back:hover {
  --v: visible;
}
.round:checked {
  color: #2b833c;
}
.rounded {
  border-radius: 15px;
}
